@import url(stylesheet.css);
body{
    font-family: montserratlight;
}
.main-wrapper{
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
}

.main-menu{
    position: absolute;
  
}
.menu-icon{
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: block;

}
.menu-icon span{
    border-top:2px solid #000; 
    width: 30px;
    display: block;
    position: relative;
    top:14px;
}
.menu-icon span::before{
    border-top:2px solid #000; 
    width: 30px;
    display: block;
    content: "";
    position: absolute;
    top:-8px;
}
.menu-icon span::after{
    content: "";
    border-top:2px solid #000; 
    width: 30px;
    display: block;
    position: absolute;
    top:4px;
}
.main-menu ul{
    opacity: 0;
    transform: scale(0);
    background-color: rgba(0,255,0,0.8);;
    margin: 0;
    transition: all 0.2s ease-in-out;
    transform-origin: top left;

}
.main-menu ul li{
    cursor: pointer;
}

.main-menu ul.show{
 
    opacity: 1;
    transform: scale(1);
    transition: all 0.2s ease-in-out;
    display: block;
}
.tab{
    display: none;
  
    margin-top: 100px;
    padding:10px;
    position: relative;
}

.tab.active{
    display: flex;
    flex-direction: column;
}

.tab .category{
    padding: 10px;
    background-color: purple;
    margin-top: 10px;
    border-radius: 20px;
    color: #FFF;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.tab .category.default{
    cursor: default;
    background: #DDD;
    color: #bbb;
}
.addbtn{
    background-color:#000;
    position: fixed;
    border-radius: 50%;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    bottom: 20px;
    right: 20px;
}
.addbtn:before{
    content: "";
    display: block;
    width: 10px;
    border-top: 2px solid #FFF;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
}
.addbtn:after{
    content: "";
    display: block;
    width: 10px;
    border-top: 2px solid #FFF;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.shadow{
    box-shadow: -1px -1px 12px -3px rgba(0,0,0,0.83);
    -webkit-box-shadow: -1px -1px 12px -3px rgba(0,0,0,0.83);
    -moz-box-shadow: -1px -1px 12px -3px rgba(0,0,0,0.83);
}
#tabs{
    min-width: 320px;
    margin-bottom: 50px;
}
.tab .expense{
    padding: 10px;
    background-color: rgb(243,243,243);
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(23,23,23);
    cursor: pointer;
    font-size: 18px;
}

.expense{
    display: flex;
}

.expense .column-1{
    flex: 1;
}
.expense .column-2{
    flex: 3;
}
.expense .column-2 .row-1{
    font-family: montserratbold;
    margin-bottom: 8px;
}
.expense .column-2 .row-2{
    font-size: 14px;
    color:rgb(142, 142, 142);
}
.expense .column-3{
    flex: 2;
    font-family: montserratbold;
    display: flex;
    justify-content: right;
    align-items: center;
    white-space: nowrap;
}

.tab .income{
    padding: 10px;
    background-color: rgb(243,243,243);
    margin-top: 10px;
    border-radius: 20px;
    color: rgb(23,23,23);
    cursor: pointer;
    font-size: 18px;
}

.income{
    display: flex;
}

.income .column-1{
    flex: 1;
    display: flex;
    justify-content: right;
    align-items: left;
    flex-direction: column;
}

.income .column-2{
    flex: 2;
    font-family: montserratbold;
    display: flex;
    justify-content: right;
    align-items: center;
    white-space: nowrap;
}

.income .column-1 .row-1{
    font-family: montserratbold;
    margin-bottom: 8px;
}

.income .column-1 .row-2{
    font-size:12px;
    color:rgb(142, 142, 142);
}
.total{
    width: 250px;
    display: flex;
    background: #000;
    color: #FFF;
    border-radius: 10px;
    height: 90px;
    align-items: center;
    margin: 0 auto 30px auto;
}
.total .amount{
    font-family: montserratbold;
    font-size: 24px;
    flex: 2;
}
.total .rs{
    text-align: center;
    flex: 1;
}
.total .mur{
    flex: 1;
}
.form-modal-overlay{
    background-color: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    transition: all 300ms ease-in-out;
    opacity: 1;
    z-index: 1;
}
.form-modal{
    background-color: #fff;
    min-width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 6px;
}

.form-modal-overlay.hidden{

    opacity: 0;
    z-index: -1;
}

.form-modal-content{
    padding: 30px 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
 
}
.form-modal-content input,.form-modal-content select{
    margin:  4px 0;
    width: 200px;
}
.form-modal-content select{
    width: 224px;
    background-color: antiquewhite;
}
.form-modal-content select option{
line-height: 1.2rem;
}
.form-modal-title{
    height: 160px;
    background: rgba(238, 238, 238, 0.4);
    border-radius: 6px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-family: montserratmedium;
}
.btnlink{
    text-decoration: underline;
    background: none;
    cursor: pointer;
    border: none;


}

.btnsave{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 56px;
    background: #E0E0E0;
    border-radius: 4px;
    border: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    color: #868686;
   pointer-events: none;
}
.form-modal-action{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 20px;
}
.column-1{
    flex: 1;
    display: flex;
    justify-content: center;
    margin: 0 10px 0 20px;
}
.column-2{
    flex: 1;
    margin: 0 20px 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.btnsave.active{
    background-color: #42A71E;
    color: #FFF;
    cursor: pointer; 
    pointer-events: initial;
}

input,select{
border: 1px solid #000000;
border-radius: 5px;
height: 40px;
line-height: 40px;
padding-left: 22px;
color: #000000;
vertical-align: middle;
font-size: 18px;
font-family: montserratlight;
}

.expense_timeline {
    font-family: 'montserratbold';
    margin-top: 15px;
    font-size: 14px;
}